<ion-view title="MyGov">
  <ion-content class="has-header">
    <form ng-submit="register(first_name, last_name, username, email, password)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John" ng-model="first_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Doe" ng-model="last_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="username" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" placeholder="email@example.com" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="password" ng-model="password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced" type="submit">Register</button>
      </div>

      <p class="text-center">
        <a href="#/login">Login</a>
      </p>
    </form>
  </ion-content>
</ion-view>